In [ ]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_csv('titanic-fiap.csv')

In [ ]:
dados.fillna(0, inplace=True)

dados.drop(columns=['PassengerId'], inplace=True)

In [ ]:
dados.index.name= 'PassengerId'

In [ ]:
dados.Sex.value_counts()

In [ ]:
print('Mediana de idade dos passageiros ->',dados.Age.median())
print('MÃ©dia de idade dos passageiros ->',dados.Age.mean().round(2))

In [ ]:
dados.Age.describe()

In [ ]:
dados

In [ ]:
dados.Survived.value_counts()

In [ ]:
dados.Pclass.value_counts()

In [ ]:
dados.Embarked.value_counts()

In [ ]:
import matplotlib.pyplot as plt

# Set the global default size of matplotlib figures
plt.rc('figure', figsize=(10, 5))

# Size of matplotlib figures that contain subplots
fizsize_with_subplots = (10, 10)

# Size of matplotlib histogram bins
bin_size = 10

In [ ]:
southampton = dados['Embarked'] == 'S'
cherbourg  = dados['Embarked'] == 'C'
queenstown = dados['Embarked'] == 'Q'

dados.loc[southampton, 'Embarked'] = 'S = Southampton'
dados.loc[queenstown, 'Embarked'] = 'Q = Queenstown'
dados.loc[cherbourg, 'Embarked'] = 'C = Cherbourg'

In [ ]:
dados.Embarked.value_counts()

In [ ]:
dados

In [ ]:
dados['Embarked'].value_counts().plot(kind='bar', 
                                         title='Embarked')
plt.show()

In [ ]:
dados['Pclass'].value_counts().plot(kind='bar', 
                                         title='Pclass')
plt.show()

In [ ]:
data = dados['Survived']
data_height = data.value_counts()
bar_labels = ['0 = No', '1 = Yes']

# Creating a bar plot
plt.bar(bar_labels, data_height)

# Adding labels to the bars
for i in range(len(data_height)):
    plt.text(i, data_height[i], str(data_height[i]), ha='center', va='bottom')

plt.xlabel('Survived')
plt.ylabel('Count')
plt.title('Survival Distribution')
plt.show()

In [ ]:
dados.Sex.value_counts()

In [ ]:
data = dados.Sex
data_height = data.value_counts()
bar_labels = ['Female', 'Male']

# Creating a bar plot
plt.bar(bar_labels, data_height)

# Adding labels to the bars
for i in range(len(data_height)):
    plt.text(i, data_height[i], str(data_height[i]), ha='center', va='bottom')

plt.xlabel('Sex')
plt.ylabel('Count')
plt.title('The quantity of females and males in Titanic')
plt.show()

In [ ]:
dados

In [ ]:
yes = dados['Survived'] == 1
no  = dados['Survived'] == 0

dados.loc[no, 'Survived'] = '0 = No'
dados.loc[yes, 'Survived'] = '1 = Yes'

In [ ]:
dados

In [ ]:
first =  dados['Pclass'] == 1
second  = dados['Pclass'] == 2
third  = dados['Pclass'] == 3

dados.loc[first, 'Pclass'] = 'First class'
dados.loc[second, 'Pclass'] = 'Second class'
dados.loc[third, 'Pclass'] = 'Third class'

In [ ]:
dados

In [ ]:
dados_mean_fare = dados.Fare.mean()
dados_median_fare = dados.Fare.median()

In [ ]:
dados['mean_fare'] = dados_mean_fare
dados['median_fare'] = dados_median_fare

In [ ]:
dados

In [ ]:
dados.SibSp.value_counts()

In [ ]:
dados.Parch.value_counts()

In [ ]:
dados['SibSp'].value_counts().plot(kind='bar', 
                                         title='# of siblings / spouses aboard the Titanic')
plt.show()

In [ ]:
dados['Parch'].value_counts().plot(kind='bar', 
                                         title='# of parents / children aboard the Titanic')
plt.show()

In [ ]:
dados['Age'].value_counts()

In [ ]:
dados

In [ ]:
dados.head()